
.ski-cpn-flex{
  display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex;
  text-decoration: none;
}
.ski-cpn-flex-v{
  display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex;
  flex-direction: column;
}
.ski-cpn-flex .ski-cpn-flex-item{
  display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex;
}