.xkcpn-timeline {
  position: relative;
  padding: 0 0.8rem 0 1rem;
}
.xkcpn-timeline .time-block {
  left: 0.8rem;
  top: 0.4rem;
  margin-right: 2rem;
  height: 3.4rem;
  line-height: 1.5rem;
  display: flex;
  align-items: center;
  color: #555;

  font-size: .8em;
}
.xkcpn-timeline .right-block {
  position: relative;
  padding: 1rem 0;
  line-height: 1.2;
  border-bottom: solid 1px #eee;
}
.xkcpn-timeline .right-block .content-row {
  margin-top: 0.5rem;
  line-height: 1.2;
  font-size: .8em;
}
.xkcpn-timeline .right-block .dot {
  width: 1rem;
  height: 1rem;
  background:#55b2d6;
  border-radius: 0.5rem;
  position: absolute;
  left: -1.5rem;
  top: 1.2rem;
}
.xkcpn-timeline .right-block .link-line {
  height: 100%;
  border-left: solid 1px #ddd;
  position: absolute;
  left: -1rem;
  top: 2.2rem;
}
.xkcpn-timeline:last-child .right-block {
  border-bottom: none;
}
.xkcpn-timeline:last-child .link-line {
  display: none;
}
